<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row" style = 'background-color:#DAE7F8; text-align:center;'> 
            <img  src="{{url_for('static', filename='activity_header.png')}}">
        </div>
    </div>

    {% for j in activities_info %}
        <!-- activity_id = {{j[0]}}
        name = {{j[1]}}
        category = {{j[2]}}
        city_id = {{j[3]}}
        state_id = {{j[4]}}
        price = {{j[5]}}
        length_of_time = {{j[6]}} -->
        <div class="row" style="outline: thin solid; padding:10pt;"> 
            <div class="row" style="outline: thin solid;text-align:center;"> 
                <tr>
                    <td>Texas, Austin</td><br />
                </tr>
            </div>
            <tr>
                <td>Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>length_of_time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td><br />
                <td>{{j[2]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[5]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[6]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
            </tr>
            <div class="row" style="outline: thin solid;"> 
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                    <td>&nbsp;&nbsp;Activity Name: {{j[1]}}</td><br />
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                </tr>
            </div>
        </div>
    {% endfor %}
    
</body>

<html>