
<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row" style = 'background-color:#DAE7F8; text-align:center;'> 
            <img  src="{{url_for('static', filename='activity_header.png')}}">
        </div>
    </div>

    {% for j in activities_info %}
        <!-- activity_id = {{j[0]}}
        name = {{j[1]}}
        category = {{j[2]}}
        city_id = {{j[3]}}
        state_id = {{j[4]}}
        price = {{j[6]}}
        length_of_time = {{j[7]}} -->
        <div class="row" style="outline: thin solid; padding:10pt;"> 
            <div class="row" style="outline: thin solid;text-align:center;"> 
                <tr>
                    <td>Texas, Austin</td>
                    <td>----></td>
                    <td>Washington, Seattle</td><br />
                </tr>
                
            </div>
            <tr>
                <td>&nbsp;&nbsp;length_of_time&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>city_id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td>state_id&nbsp;&nbsp; &nbsp;&nbsp;    </td>
                <td>price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;   </td><br />
                <td>{{j[7]}}&nbsp;&nbsp;</td>
                <td>{{j[1]}}&nbsp;&nbsp;</td>
                <td>{{j[2]}}&nbsp;&nbsp;</td>
                <td>{{j[6]}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>not in db&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[4]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </div>
    {% endfor %}
    
</body>

<html>
