<html>
    <div class="container">
    <div class="row" style = 'background-color:#DAE7F8; text-align:center;'> 
        <img  src="{{url_for('static', filename='uscities.png')}}">
    </div>
</div>
<body style = 'text-align:center;'>
    <form action="/cities" method="post">
        <p>Enter a New City Recommendation</p>
        <label for="city_name">city name</label>
        <p><input type="text" name="city_name" /></p>
        <label for="state_name">state name</label>
        <p><input type="text" name="state_name" /></p>
        <label for="population">population</label>
        <p><input type="number" name="population" /></p>
        <label for="safety">safety</label>
        <p><input type="number" name="safety" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
    <p>List of Cities and Information about the City</p>
    <p>City, State, Population, Safety</p>
    {% for j in cities_info %}
        <p>{{j[1]}}, {{j[2]}}, {{j[3]}}, {{j[4]}}</p>
    {% endfor %}
</body>

</html>