<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row" style = 'background-color:#9cb3d8; text-align:center;'> 
            <img  src="{{url_for('static', filename='flight_header.png')}}">
        </div>
    </div>

    {% for j in flights_info %}
        <!-- flight_id = {{j[0]}}
        distance = {{j[1]}}
        price = {{j[2]}}
        airline_name = {{j[3]}}
        flight_num = {{j[4]}}
        availability = {{j[5]}}
        startCity = {{j[6]}}
        destCity = {{j[7]}}
        startState =  {{j[8]}}
        deststate = {{j[9]}}
        starttime = {{j[10]}}
        endtime = {{j[11]}}
        duration = {{j[12]}}
        dates = {{j[13]}}
        types_of_ticket = {{j[14]}}
     -->
        <div class="row" style="outline: thin solid; padding:10pt;"> 
            <div class="row" style="outline: thin solid;text-align:center;"> 
                <!-- <img  src="{{url_for('static', filename='flight_trail.png')}}"> -->
                <tr>
                    
                    <td>{{j[6]}}, {{j[8]}}</td>
                    <td>----></td>
                    <td>{{j[7]}}, {{j[9]}}</td><br />
                    <td> {{j[12]}}</td><br />
                    <td>{{j[1]}}</td>
                    <td>miles</td>
                </tr>
                
            </div>
            <tr>
                <td>&nbsp;&nbsp;type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>start&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>end&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                <td>seats_available&nbsp;&nbsp;&nbsp; </td>
                <td>flight number&nbsp;&nbsp;&nbsp;&nbsp;    </td>
                <td>duration&nbsp;&nbsp;&nbsp;&nbsp;    </td>
                <td>price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;   </td><br />
                <td>{{j[14]}}&nbsp;&nbsp;</td>
                <td>{{j[13]}}&nbsp;&nbsp;</td>
                <td>{{j[10]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[11]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[5]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[4]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[12]}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{j[2]}}&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
            </tr>
            <div class="row" style="outline: thin solid;"> 
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                    <td>&nbsp;&nbsp;Airlines: {{j[3]}}</td><br />
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><br />
                </tr>
            </div>
        </div>
    {% endfor %}
    
</body>

<html>
