<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content="with=device-width, initial-scale = 1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> What's The Move </title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" type="text/css">
</head>

<body>
    <div class="container">
        <div class="row" style='background-color:#DAE7F8'>
            <ul>
                <li><a href="#">Add your recs</a>
                    <ul>
                        <li><a href="/cities">Add Cities</a></li>
                        <li><a href="/state">Add States</a></li>
                        <li><a href="/index-restaurant">Add Restaurants</a></li>
                        <li><a href="/index-activities">Add Activities</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <img style="max-width: 100%; height: auto;" src="{{url_for('static', filename='RainierViewpoint.png')}}">
        <div class="row" style='text-align:center;background-color:#DAE7F8'>
            <div class="dropdown"
                style="width:device-width;height:100px;padding: 20px;font-size:x-large;display: inline-block; text-align:center">
                Choose a starting location and destination location:
                <form method="POST" action='/'>
                    <select name="city_state"
                        style="width:500px;height: 60px;text-align:center;font-size: medium;margin-top: 20px;">
                        {% for j in city_state_lists %}
                        startingc = {{j[1]}}
                        startings = {{j[2]}}
                        destinationc = {{j[3]}}
                        destinations = {{j[4]}}
                        <OPTION starting_value={{j[0]}}>{{j[1]}}, {{j[2]}} --> {{j[3]}}, {{j[4]}}</OPTION>
                        {% endfor %}
                    </select>
                    <p>{{selected}}</p>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

        <table style="width:100%">
            <tr>
                <td>
                    <a href="/flight">
                        <img style="width: 200px; height: 200px;margin-top: 20px;"
                            src="{{url_for('static', filename='flights.png')}}" />
                    </a>
                </td>
                <td>
                    <a href="/restaurants">
                    <img style="width: 200px; height: 200px;margin-top: 20px;"
                    src="{{url_for('static', filename='burger.png')}}" />
                    </a>
                </td>
                <td><a href="/activities">
                    <img style="width: 200px; height: 200px;margin-top: 20px;"
                    src="{{url_for('static', filename='hiking.png')}}" />
                    </a>
                </td>
                <td>
                    <a href="/accommodations">
                    <img style="width: 200px; height: 200px;margin-top: 20px;"
                        src="{{url_for('static', filename='house.png')}}" />
                    </a>
                </td>
            </tr>
          </table>
          <p style ='font-size:x-large;'>Additional Information about the city you are visiting: </p>
          <table style="width:100%">
            <tr>
                <td><img  src="{{url_for('static', filename='population.png')}}"></td>
                <td style ='font-size:x-large;'>Population: {{city_info[0]}}</td>
            </tr>
            <tr>
                <td><img  src="{{url_for('static', filename='safety.png')}}"></td>
                <td style ='font-size:x-large;'>Safety: {{city_info[1]}}</td>
            </tr>
            <tr>
                <td><img  src="{{url_for('static', filename='timezone.png')}}"></td>
                <td style ='font-size:x-large;'>Timezone: {{city_info[2]}}</td>
            </tr>
            <tr>
                <td><img  src="{{url_for('static', filename='season.png')}}"></td>
                <td style ='font-size:x-large;'>Best season to visit: {{city_info[3]}}</td>
            </tr>
            <tr>
                <td><img  src="{{url_for('static', filename='cost.png')}}"></td>
                <td style ='font-size:x-large;'>Cost to visit: {{city_info[4]}}</td>
            </tr>
            
          </table>
</body>
<html>