<html>
<body>
    <div class="container">
        <div class="row" style = 'background-color:#DAE7F8; text-align:center;'> 
            <img  src="{{url_for('static', filename='activity_header.png')}}">
        </div>
    </div>
    
        <p>Enter a New Activity Recommendation</p>

        <label for="Activity_Name">Activity Name</label>
        <p><input type="text" name="Activity_Name" /></p>

        <label for="category"> Category (athletic, leisure, etc)</label>
        <p><input type="text" name="category"/></p>

        <label for="price">Price</label>
        <p><input type="number" name="price" /></p>

        <label for="length_of_time">Avg Length of Time)</label>
        <p><input type="number" name="length_of_time" /></p>

        <div class="row" style = 'text-align:center;background-color:#ffffff'>
            <div class="dropdown" style="width:device-width;height:100px;padding: 50px;font-size:x-large;display: inline-block; text-align:center">
                City
                <form method="POST" action ='/'>
                    <select name="city" style="width:500px;height: 60px;text-align:center;font-size: medium;margin-top: 20px;">
                        {% for j in city_dropdown %}
                            <OPTION>{{j[0]}}</OPTION>
                        {% endfor %}
                    </select>
                    <p>{{selected}}</p>
                </form>
            </div>
    </div>
    <input type="submit" value ="Submit">
    </form>
</body>

</html>