<html>

<body>
    <form action="/groupByState" method="post">
        <p><input type="submit" value="Show Cities By State" /></p>
    </form>
    <form action="/orderBySafety" method="post">
        <p><input type="submit" value="Order Cities By Safety" /></p>
    </form>
</body>
<table cellspacing="20">
    <tr>
        <th style="text-align: left">City</th>
        <th style="text-align: left">State</th>
        <th style="text-align: left">Population</th>
        <th style="text-align: left">Safety (1-10)</th>
    </tr>
    {% for j in cities_info %}
    <tr>

        <td style="text-align: left">{{j[1]}}</td>
        <td style="text-align: left">{{j[2]}}</td>
        <td style="text-align: left">{{j[3]}}</td>
        <td style="text-align: left">{{j[4]}}</td>
    </tr>
    {% endfor %}
</table>

</html>